.escola {
background-image: linear-gradient(#383D58,#00c0eb);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}
.escola-titulo {
padding: 24px 0;
}

.cabecalho-imagem{
width: 15%;
height: 15%;
justify-content: space-around;
margin: 0 16px;
padding: 24px 0;
}

.escola-conteudo{
width: 35%
}
.cabecalho {
background-color: #383D58;
color: white;
display: flex;
justify-content: space-around;
padding: 24px 0;
}

.cabecalho-lista-item{
margin: 0 16px;
padding: 10px 0;
justify-content: space-around;
font-size: 24px;
font-family: arial
}

* {
margin: 0;
padding: 0;
}

.image{
width:25%;
}
